<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<form method="POST">{% csrf_token %}
    <h1>Cadastro Endereço</h1>
    <label>Cep</label>
    <input type="number" class="form-control" name="cep"  aria-describedby="cep" placeholder="Seu Cep" required>
    <small id="emailHelp" class="form-text text-muted">EBS SISTEMAS</small>
  </div>
  <div class="form-group">
    <label>Cidade</label>
    <input type="text" class="form-control" name="cidade"  aria-describedby="cidade" placeholder="Sua cidade" required>
  </div>
  <div class="form-group">
    <label>Bairro</label>
    <input type="text" class="form-control" name="bairro"  aria-describedby="bairro" placeholder="Seu bairro" required>
  </div>
  <div class="form-group">
    <label>Estado</label>
    <input type="text" class="form-control" name="estado"  aria-describedby="estado" placeholder="Estado" required>
  </div>
  <div class="form-group">
    <label>Complemento</label>
    <input type="text" class="form-control" name="complemento"  aria-describedby="complemento" placeholder="complemento" required>
  </div>
  <div class="form-group">
    <label>Rua</label>
    <input type="text" class="form-control" name="rua"  aria-describedby="rua" placeholder="rua" required>
  </div>
  <div class="form-group">
    <label>Numero</label>
    <input type="number" class="form-control" name="numero"  aria-describedby="numero" placeholder="numero" required>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
  </head>
  <body>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>